.pio
**/.vscode/**
!**/.vscode/settings.json
!**/.vscode/extensions.json


# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
.env
.venv
env/
venv/
ENV/
pip-wheel-metadata/
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
test_out.txt
